<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example2.schoolguider">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolGuider">
        <activity android:name=".AlarmNotification"></activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".UserGradesActivity"
            android:label="@string/title_activity_user_grades"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".EveningActivitiesPage"
            android:label="@string/title_activity_evening_activites_page"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".AfternoonActivitiesPage"
            android:label="@string/title_activity_afternoon_activities_page"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".GradesActivity"
            android:label="@string/title_activity_grades"
            android:theme="@style/GradesActivityNoActionBar" />
        <activity android:name=".EveningActivity" />
        <activity
            android:name=".MorningActivitiesPage"
            android:label="@string/title_activity_morning_activities_page"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MindfulnessActivity"
            android:label="@string/title_activity_mindfulness"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".Guider_Settings"
            android:label="@string/title_activity_guider__settings" />
        <activity
            android:name=".School_Schedule"
            android:label="@string/title_activity_school__schedule"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".School_Page"
            android:label="@string/title_activity_school__page"
            android:theme="@style/Theme.SchoolGuider.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SchoolGuider.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadcast"/>
    </application>

</manifest>